{% extends "users/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        var a = 59;
        function SubmitEmail(){
            email = document.getElementById("id_email").value;
            if(email==''){
                alert('Please fill the email');
                return;
            }
            CountTime();
            $.ajax({
                    url: '/user/send_code?email='+email,
                    type: 'GET',
                    success:function(returnValue){
                        if(returnValue != 1){
                            alert(returnValue);
                            a = 0;
                        }
                        else{
                            alert("发送成功！");
                        }

                    },
                    error: function (returnValue) {
                        alert("发送失败！");
                        a = 0;
                    }
                })
        }
        function CountTime(){
            document.getElementById('cover_send').style.display = 'block';
            var s = document.getElementById("send");
            s.innerText = "send("+a.toString()+")";
            a = a - 1;
            if(a<0){
                s.innerText = "send";
                document.getElementById('cover_send').style.display = 'none';
                a = 59;
            }
            else{
                setTimeout(CountTime,1000);
            }
         }
    </script>
{% endblock header %}

{% block content %}
    <div class="col-md-6">
        <form method="post" action="{% url 'users:fdpassword' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="button" id="send" name="send" class="btn btn-primary" onclick="SubmitEmail()" style="position: absolute;top: 52%;right: 2%;">send</button>
        <p><span id="status" style="color: red">{{ status }}</span></p>
        <button name="submit" class="btn btn-primary">confirm</button>
        </form>

    </div>
    <div id="cover_send" style="display: none;height: 50px;width:100px;position: absolute;left: 43%;top: 32%;"></div>
{% endblock content %}